.wrapper {
    width: 280px;
}

.share-item {
    display: flex;
    align-items: center;
    padding: 11px 16px;
    font-size: 16px;
    color: rgb(22, 24, 35);
    font-weight: 600;
}

.share-icon {
    margin-right: 12px;
}
