.wrapper {
    width: 280px;
}

.share-item {
    display: flex;
    align-items: center;
    padding: 11px 16px;
    font-size: 16px;
    color: rgb(22, 24, 35);
    font-weight: 600;
}



.share-icon {
    width: 26px;
    height: 26px;
    margin-right: 12px;
    border-radius: 50%;
}

.black {
    color: rgb(22, 24, 35);;
}

.blue {
    color: blue;
}

.green {
    color: rgb(37, 211, 102);;
}

.pink {
    color: rgb(254, 44, 85);;
}