.wrapper {
    margin-right: 16px;
    margin-left: 16px;
    padding: 24px 0;
    display: flex;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.content {
    margin-left: 12px;
}

.info-link {
    display: inline-flex;
    align-items: center;
}

.nick-name {
    margin-right: 4px;
    font-size: 18px;
    font-weight: 700;
}

.user-name {
    font-size: 14px;
    font-weight: 400;
}

.btn {
    float: right;
}

.caption {
    font-size: 16px;
    line-height: 22px;
}

.video-music {
    font-weight: 600;
    font-size: 16px;
    // line-height: 22px;
    margin-top: 4px;
    margin-bottom: 12px;
}
