.wrapper {
    display: flex;
    padding: 20px 0;
    position: relative;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.content {
    margin-left: 12px;
    width: 624px;
}

.info {
    margin-right: 114px;
}

.info-link {
    display: inline-flex;
    align-items: center;
}

.nick-name {
    margin-right: 4px;
    font-size: 18px;
    font-weight: 700;
}

.check {
    font-size: 1.4rem;
    color: rgb(32, 213, 236);
    margin-left: 4px;
}

.user-name {
    font-size: 14px;
    font-weight: 400;
}

.btn {
    position: absolute;
    top: 28px;
    right: 0;
}

.caption {
    font-size: 16px;
    line-height: 22px;
}

.video-music {
    font-weight: 600;
    font-size: 16px;
    // line-height: 22px;
    margin-top: 4px;
    margin-bottom: 12px;
}

.video-wrapper {
    display: flex;
    align-items: flex-end;
}


.interaction {
}

.interaction-item {
    text-align: center;
    cursor: pointer;
    & strong {
        font-size: 12px;
        color: rgba(22, 24, 35, 0.75);
        display: block;
    }
}

.interaction-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 0px;
    border-radius: 50%;
    background-color: rgba(22, 24, 35, 0.06);
    color: rgb(22, 24, 35);
    margin-top: 8px;
    margin-bottom: 6px;
    & .icon {
        width: 20px;
        height: 20px;
    }
}

